GITLAB_IMAGE_VERSION=18.10.0-ce.0
GITLAB_URL=gitlab.example.com
REGISTRY_URL=registry.example.com

S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minio
S3_ENDPOINT=minio-api.example.com
S3_BUCKET=gitlab
S3_REGION=main
REGISTRY_TOKEN=BYtnUZYupFbeP3pxVc7XGcTcCWDRRdMsRyjVLx3t
